[Unit]
Description=GCP Pub/Sub to deploy router
After=network.target

[Service]
ExecStart=/opt/deploy-router/venv/bin/python3 /opt/deploy-router/main.py
WorkingDirectory=/opt/deploy-router/
Restart=always
RestartSec=10
User=serviceuser

[Install]
WantedBy=multi-user.target